<!DOCTYPE html>
<html>
<head>
    <title>Take Exam</title>
    
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static "quizzy_app/CSS/style.css" %}"/>
    <link type="text/css" rel="stylesheet" href="{% static "quizzy_app/CSS/quiz.css" %}"/>
    
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <!-- Code Mirror Stuff -->
    <script src="{% static "quizzy_app/JS/codemirror.js" %}"></script>
    <link rel="stylesheet" href="{% static "quizzy_app/CSS/codemirror.css" %}">
    
    <script src="{% static "quizzy_app/JS/script.js" %}"></script>
</head>
<body>

<div id="container">

    <div id="header">
        <h1>Quizzy</h1>
    </div>
    
    
    <div id="content">
        <div id="main">
            <form name="quiz" class = "prompt" id="quiz" method="POST">
            {% for question_id, question in exam.questions %}
                <div id="{{ question_id }}" class="free_response">
                    <p class="question">
                        {{ question }}
                    </p>
                    <textarea class="answer" name="{{ question_id }}" form="quiz" wrap="soft" cols="90" rows="30"></textarea>
                </div>
            {% endfor %}
            </form>
                
            
            <div id="footer">
                Copyright &copy; 2016 Adam, Eric, Lucas, Shashank
        </div>
    </div>
</div>
</body>
</html>