#quiz
{
    margin: 40px 40px 40px 40px;
}

#main
{
    padding-left: 0px;
    float: none;
    margin-right: 0px;
    width: auto;
}

.question
{
    border-style: outset;
    text-align: left;
    padding: 20px 20px 20px 20px;
    width: auto;
}

.answerwrapper
{
    border-style: double;
    padding: 10px 10px 10px 10px;
}