body {
    background-color: #EEEEEE;
    font-family: Helvetica, Arial, sans-serif;
}

#container {
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3 {
    margin: 0;
}

#header {
    background-color: #5623ff;
    color: white;
    text-align: center;
    padding: 10px;
}

#content {
    padding: 10px 10px 10px 10px; /*the order is top, right, bottom, left*/
}

#nav {
    width: 200px;
    float: left;
    padding: 10px 0 0 0;
    text-align: center;
}


#main {
    width: 720px;
    float: center;
    padding: 0 0 0 40px;

}

#footer {
    clear: both;
    padding: 10px;
    background-color: #999999;
    color: white;
    text-align: right;
}

h2 {
    padding: 0 0 0 180px;
}

